@import '~assets/sass/vars';

.hotel-card {
  box-shadow: 3px 3px 10px #d8d8d8;
  @include card();
  img{
    text-align: center !important;
    img{
      width: 100%;
    }
  }
  .amenities svg-icon{
    margin: 3px;
    width: $icon-width;
  }
  .price{
    border-left: dotted 2px #e8dada;
    text-align: center !important;
    h5{
      color: $warning-color;
      b{
        font-size: 25px;
      }
    }
  }
}
